body{
  background-color: BurlyWood
}
h1{
  text-align: left; color: DarkGoldenRod
  }
  h2{
    text-align: center; color: #934d21; font-size:70px
  }
h3{ 
  color: #934d21; font-size:30px
}
p{
  text-aling: justify; color: Khaki; font-size:30px
}
.itens {
  font-style: italic; color: #934d21; font-size:30px
  }
.imagemcapa {
  width:25%;
}
.1ato { 
    width:30%; display: inline-block;
}
  
  nav li {
      display: inline;
      margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #c4594b;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
