body{
  background-color: BurlyWood
}
h1{
  text-align: left;; color: DarkGoldenRod
  }
  h2{
    text-align: center; color: #934d21
  }
h3{ 
  color: #934d21
}
p{
  text-aling: justify; color: Khaki
}
.itens {
  font-style: italic; color: #934d21
}
.imagemcapa {
  width:30%;
}
